.task-step-container {
  display: flex;
  align-items: flex-start;

  .steps {
    flex: 1;
    padding: 16px 24px;
  }

  .content {
    flex: 2;
    background-color: #fafafa;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;

    & > :global(.ant-card-body) {
      white-space: pre-wrap;
    }
  }
}
