.thin {
  width: 60%;
  min-width: 800px;
}

.form {
  padding: 20px;
  .thin();


  :global(.ant-divider) {
    margin: 20px 0;
  }

  :global(.ant-form-item-label) {
    width: 200px;
  }

  :global(.ant-card), :global(.ant-collapse) {
    margin-bottom: 30px;
  }

  :global(.ant-input-group) > div {
    width: 50% !important;
  }

  :global(.ant-card-head-title), :global(.ant-collapse-header-text) {
    font-weight: bold;
    user-select: none;
  }

  .component-form {
    background-color: #fff;

    :global(.ant-collapse-content-box) {
      padding: 20px;
    }

    :global(.ant-collapse-content) {
      border-top: none;
    }

    :global(.ant-col) {
      text-align: center;
    }
  }

  .component-for-host:global(.ant-collapse-ghost) {
    background-color: #fff;

    :global(.ant-collapse-content) {
      > :global(.ant-collapse-content-box) {
        padding: 20px;
      }
    }

    :global(.ant-form-item-label) {
      width: initial;
    }
  }

  .host-block {
    border: #d9d9d9 1px dashed;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .host-block-action-bar {
    padding: 6px 0 6px 20px;
    text-align: right;
    color: #999;
    font-size: 16px;
  }

  .instance-action-icon {
    color: #999;
    font-size: 16px;
  }

  .instance-field {
    width: 100%;

    > :global(.ant-space-item) {
      &:only-of-type, &:not(:last-of-type) {
        flex: 1;
      }
    }
  }

  .instance-disk-field {
    width: 100%;
  }
}

.zone-name {
  min-height: 32px;
  line-height: 32px;
  font-size: 16px;
}

.quick-selector {
  justify-content: space-between;
  min-height: 48px;
}

.submitter {
  border-top: 1px solid #eaeaea;

  button {
    width: 100px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.simple-form {
  :global(.ant-card), :global(.ant-collapse) {
    width: 100%;
  }
}

.optional-badge {
  margin-left: 10px;
}

.standard-selector {
  .thin();

  :global(.ant-card-head-title) {
    font-weight: bold;
    user-select: none;
  }

  padding: 10px 20px;
}