.header {
  :global(.ant-page-header-heading-sub-title) {
    font-size: 16px;
    color: #666;
    line-height: 32px;
  }

  //
  //.summary {
  //  width: 860px;
  //
  //  .address:not(:last-child) {
  //    margin-right: 16px;
  //  }
  //}
}

.deletion-form {
  .no-message-item {
    margin-bottom: 0;
  }

  .item-note {
    min-height: 24px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 1.5715;
  }
}
