.container {
  width: 400px;
  max-width: 100vw;

  min-height: 100vh;

  background: rgba(255, 255, 255, .8);

  .form {
    width: 80%;
  }

  .switch-language{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}